* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 420px;
  height: auto;
}

/* Header section */

.header-container {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
}

.header {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

/* Hero section */

.hero-container {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #fff;
}

.hero {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
  gap: 40px;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-left {
  max-width: 400px;
}

.hero-title,
.hero-text {
  margin-bottom: 10px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.hero-text,
.hero-btn {
  color: #e5e7eb;
}

.hero-text {
  font-size: 18px;
}

.hero-btn {
  background-color: #3882f6;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
}

/* information section */

.information-container {
  display: flex;
  justify-content: center;
}

.information {
  text-align: center;
  width: 900px;
  padding: 40px 0 90px;
}

.information-header {
  margin-bottom: 33px;
}

.information-item-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.bird-img {
  height: 200px;
  width: auto;
}

.quote-section-container {
  background-color: #e5e7eb;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-section {
  width: 696px;
}

.quote-text,
.quote-author {
  color: #1f2937;
}

.quote-text {
  font-size: 36px;
}

.quote-author {
  text-align: end;
  font-weight: bold;
}
